<div class="col-md-<%= width %>">
    <div class="game game-<%= type %>">
        <a href="<%= game_path(game.xgid) %>" style="background-image: url(<%= game.image_box %>)"><%= game.name %></a>
    </div>
</div>
