<% can_play = defined? playable and playable %>

<div class="col-md-<%= width %>">
    <div class="video video-<%= type %>">
        <% if can_play %>
            <video controls autoplay id="video" class="video-js vjs-default-skin" width="auto" height="auto" poster="<%= video.cdn_thumbnail_url %>" >
                <source type="video/mp4" src="<%= @video.cdn_clip_url %>">
                <source type="rtmp/mp4" src="<%= @video.cdn_rtmp_original_url %>">
            </video>
        <% else %>
            <div class="poster" style="background-image: url('<%= video.cdn_thumbnail_url %>')">
                <a href="<%= clip_path(video.clip_id) %>" class="play"><span>Play</span></a>
                <div class="accent"></div>
            </div>
        <% end %>

        <div class="description">
            <span class="title"><%= link_to video.user.gamertag, user_path(video.user.gamertag) %> playing <%= link_to(video.game.name, game_path(video.game.xgid)) %></span>
            <span class="subtitle" data-livestamp="<%= video.recorded_at.to_i %>"><%= video.recorded_at %></span>
        </div>
    </div>
</div>

<% if can_play %>
    <script type="text/javascript">
        $(function () {
            videojs("video", {
                techOrder: ["flash", "html5"],
                poster: "<%= video.cdn_thumbnail_url %>",
                controls: true,
                preload: true
            }, function(){

            });
        });
    </script>
<% end %>
