<% if @video && @video.is_uploaded? %>
  <% content_for :title do %>
    <%= @video.title %> by <%= @video.user.gamertag %>
  <% end %>
  <% content_for :title_bar do %>
    <%= @video.title %> by <%= link_to @video.user.gamertag, user_path(@video.user.gamertag) %>
  <% end %>

  <% content_for :additional_head do %>
    <meta name="twitter:card" content="player">
    <meta name="twitter:site" content="@xbclips">
    <meta name="twitter:title" content="<%= @video.title %> by <%= @video.user.gamertag %> on xbvids.com">
    <meta name="twitter:description" content="A clip of <%= @video.user.gamertag %> playing <%= @video.title %>.">
    <meta name="twitter:image" content="<%= @video.cdn_thumbnail_url %>">
    <meta name="twitter:player" content="<%= twitter_player_container_url(@video.clip_id, :protocol => :https) %>">
    <meta name="twitter:player:width" content="1280">
    <meta name="twitter:player:height" content="720">
    <meta name="twitter:player:stream" content="<%= @video.cdn_clip_url %>">
    <meta name="twitter:player:stream:content_type" content="video/mp4">

    <meta name="title" content="<%= @video.title %> by <%= @video.user.gamertag %>" />
    <meta name="description" content="A clip of <%= @video.user.gamertag %> playing <%= @video.title %>" />
    <link rel="image_src" href="<%= @video.cdn_thumbnail_url %>" />
    <link rel="video_src" href="<%= @video.cdn_clip_url %>"/>
    <meta name="video_height" content="720" />
    <meta name="video_width" content="1280" />
    <meta name="video_type" content="video/mp4" />
  <% end %>

  <% content_for :additional_footer do %>
    <!-- <script src="//platform.twitter.com/widgets.js" defer></script> -->
  <% end %>

  <video controls id="video" class="video-js vjs-default-skin" width="auto" height="auto">
    <source type="video/mp4" src="<%= @video.cdn_clip_url %>">
    <source type="rtmp/mp4" src="<%= @video.cdn_rtmp_original_url %>">
  </video>

  <script type="text/javascript">
    videojs("video", {
      techOrder: ["flash", "html5"],
      poster: "<%= @video.cdn_thumbnail_url %>",
      controls: true,
      autoplay: true,
      loop: true
    }, function(){

    });
  </script>

  <div class="media">
    <div class="media-left">
      <a href="<%= game_path(@video.game.xgid) %>">
        <img class="media-object" src="<%= ImageHelper.resized(@video.game.image_box, 200) %>" style="width: 100px;" />
      </a>
    </div>
    <div class="media-body">
      <h4 class="media-heading"><%= link_to @video.user.gamertag, user_path(@video.user.gamertag) %> playing <%= link_to @video.game.name, game_path(@video.game.xgid) %></h4>
      <p>
        This clip was recorded on <span data-livestamp="<%= @video.recorded_at.to_time.to_i %>"><%= @video.recorded_at %></span>.
      </p>
      <div class="like-box">
        <span>
          <%= pluralize @video.view_count + 1, 'view' %>
        </span>

        <span>
          <span id="like_count"><%= @video.like_count %></span> <%= "like".pluralize(@video.like_count) %>
        </span>

        <form id="like_form" action="<%= vote_path(@video.clip_id) %>" method="post">
          <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>"/>
          <input type="submit" value="Like!" />
        </form>
      </div>
    </div>
  </div>

<% elsif @video and not @video.is_uploaded? %>
  <p>Clip has not been uploaded yet!</p>
<% else %>
  <% content_for :title do %>
    Clip not found.
  <% end %>
  <p>
    Clip not found.
  </p>
<% end %>
