<% if @video && @video.is_uploaded? %>
  <% content_for :title do %>
    <%= @video.title %> by <%= @video.user.gamertag %>
  <% end %>
  <% content_for :title_bar do %>
    <%= @video.title %> by <%= link_to @video.user.gamertag, user_path(@video.user.gamertag) %>
    <% if @video.user.is_pro? %>
      <span class="badge pro">pro</span>
    <% end %>
    .
  <% end %>

  <% content_for :additional_head do %>
    <meta name="twitter:card" content="player">
    <meta name="twitter:site" content="@xbclips">
    <meta name="twitter:title" content="<%= @video.title %> by <%= @video.user.gamertag %> on XB Clips">
    <meta name="twitter:description" content="A clip of <%= @video.user.gamertag %> playing <%= @video.title %>.">
    <meta name="twitter:image" content="<%= @video.cdn_thumbnail_url %>">
    <meta name="twitter:player" content="<%= twitter_player_container_url(@video.clip_id, :protocol => :https) %>">
    <meta name="twitter:player:width" content="1280">
    <meta name="twitter:player:height" content="720">
    <meta name="twitter:player:stream" content="<%= @video.cdn_clip_url %>">
    <meta name="twitter:player:stream:content_type" content="video/mp4">

    <meta name="title" content="<%= @video.title %> by <%= @video.user.gamertag %>" />
    <meta name="description" content="A clip of <%= @video.user.gamertag %> playing <%= @video.title %>" />
    <link rel="image_src" href="<%= @video.cdn_thumbnail_url %>" />
    <link rel="video_src" href="<%= @video.cdn_clip_url %>"/>
    <meta name="video_height" content="720" />
    <meta name="video_width" content="1280" />
    <meta name="video_type" content="video/mp4" />

    <script src="//s0.2mdn.net/instream/html5/ima3.js"></script>
  <% end %>

  <% content_for :additional_footer do %>
    <script src="//platform.twitter.com/widgets.js"></script>
  <% end %>

  <div class="header">
    <h1>
      <%= link_to @video.user.gamertag, user_path(@video.user.gamertag) %>
      <% if @video.user.is_pro? %>
        <span class="badge pro">pro</span>
      <% end %>
      playing

      <% if @video.game %>
        <%= link_to @video.title, game_path(@video.game.xgid) %>
      <% else %>
        <%= @video.title %>
      <% end %>

      <span data-livestamp="<%= @video.recorded_at.to_time.to_i %>">on <%= @video.recorded_at %></span>
    </h1>

    <div class="like-box">
      <span>
        Views: <%= @video.view_count + 1 %>
      </span>

      <span>
        Likes: <span id="like_count"><%= @video.like_count %></span>
      </span>

      <form id="like_form" action="<%= vote_path(@video.clip_id) %>" method="post">
        <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>"/>
        <input type="submit" value="Like!" />
      </form>
    </div>

    <a href="https://twitter.com/share" class="twitter-share-button" data-via="xbclips">Tweet</a>
  </div>

  <div class="content">
    <div class="flowplayer">
      <video autoplay controls poster="<%= @video.cdn_thumbnail_url %>">
        <source type="video/mp4" src="<%= @video.cdn_clip_url %>">
      </video>
    </div>
  </div>

  <div class="footer">
    <% if @video.game %>
      <!--
      <a href="<%= game_path(@video.game.xgid) %>">
        <img class="box-art" src="<%= @video.game.image_box %>" />
      </a>
      -->
    <% end %>
  </div>

<% elsif @video and not @video.is_uploaded? %>
  <p>Clip has not been uploaded yet!</p>
<% else %>
  <% content_for :title do %>
    Clip not found.
  <% end %>
  <p>
    Clip not found.
  </p>
<% end %>
