<% if @video && @video.is_uploaded? %>
  <% content_for :title do %>
    <%= @video.title %> by <%= @video.user.gamertag %>
  <% end %>
  <% content_for :title_bar do %>
    <%= @video.title %> by <%= link_to @video.user.gamertag, user_path(@video.user.gamertag) %>
    <% if @video.user.is_pro? %>
      <span class="badge pro">pro</span>
    <% end %>
    .
  <% end %>

  <% content_for :additional_head do %>
    <meta name="twitter:card" content="player">
    <meta name="twitter:site" content="@xbclips">
    <meta name="twitter:title" content="<%= @video.title %> by <%= @video.user.gamertag %> on XB Clips">
    <meta name="twitter:description" content="A clip of <%= @video.user.gamertag %> playing <%= @video.title %>.">
    <meta name="twitter:image" content="<%= @video.cdn_thumbnail_url %>">
    <meta name="twitter:player" content="<%= twitter_player_container_url(@video.clip_id, :protocol => :https) %>">
    <meta name="twitter:player:width" content="1280">
    <meta name="twitter:player:height" content="720">
    <meta name="twitter:player:stream" content="<%= @video.cdn_clip_url %>">
    <meta name="twitter:player:stream:content_type" content="video/mp4">
  <% end %>

  <% content_for :additional_footer do %>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
  <% end %>

  <div class="header">
    <h1>
      <%= link_to @video.user.gamertag, user_path(@video.user.gamertag) %>
      <% if @video.user.is_pro? %>
        <span class="badge pro">pro</span>
      <% end %>
      playing <%= @video.title %>
    </h1>

    <a href="https://twitter.com/share" class="twitter-share-button" data-via="xbclips">Tweet</a>
  </div>

  <div class="content">
    <video src="<%= @video.cdn_clip_url %>" autoplay controls poster="<%= @video.cdn_thumbnail_url %>"></video>
  </div>

  <div class="footer">
    <% if @video.game %>
      <img class="box-art" src="<%= @video.game.image_box %>" />
    <% end %>
  </div>

<% elsif @video and not @video.is_uploaded? %>
  <p>Clip has not been uploaded yet!</p>
<% else %>
  <% content_for :title do %>
    Clip not found.
  <% end %>
  <p>
    Clip not found.
  </p>
<% end %>
