<% if @video && @video.is_uploaded? %>
  <% content_for :title do %>
    <%= @video.title %> by <%= @video.user.gamertag %>
  <% end %>
  <% content_for :title_bar do %>
    <%= @video.title %> by <%= link_to @video.user.gamertag, user_path(@video.user.gamertag) %>
  <% end %>

  <% content_for :additional_head do %>
    <meta name="twitter:card" content="player">
    <meta name="twitter:site" content="@xbclips">
    <meta name="twitter:title" content="<%= @video.title %> by <%= @video.user.gamertag %> on xbvids.com">
    <meta name="twitter:description" content="A clip of <%= @video.user.gamertag %> playing <%= @video.title %>.">
    <meta name="twitter:image" content="<%= @video.cdn_thumbnail_url %>">
    <meta name="twitter:player" content="<%= twitter_player_container_url(@video.clip_id, :protocol => :https) %>">
    <meta name="twitter:player:width" content="1280">
    <meta name="twitter:player:height" content="720">
    <meta name="twitter:player:stream" content="<%= @video.cdn_clip_url %>">
    <meta name="twitter:player:stream:content_type" content="video/mp4">

    <meta name="title" content="<%= @video.title %> by <%= @video.user.gamertag %>" />
    <meta name="description" content="A clip of <%= @video.user.gamertag %> playing <%= @video.title %>" />
    <link rel="image_src" href="<%= @video.cdn_thumbnail_url %>" />
    <link rel="video_src" href="<%= @video.cdn_clip_url %>"/>
    <meta name="video_height" content="720" />
    <meta name="video_width" content="1280" />
    <meta name="video_type" content="video/mp4" />
  <% end %>

  <% content_for :additional_footer do %>
    <!-- <script src="//platform.twitter.com/widgets.js" defer></script> -->
  <% end %>

  <h3><%= @video.user.gamertag %> playing <%= @video.title %></h3>

  <div class="row row-breakout">
      <%= render 'shared/video', :video => @video,  :type => 'large', :width => 10, :playable => true %>
      <div class="col-md-2">
          <div class="row vgutter-row">
              <div class="col-md-12">
                  <%= render "shared/gamerpane", :user => @video.user %>
              </div>
          </div>
          <div class="row">
            <%= render 'shared/game', :game => @video.game,  :type => 'full', :width => 12 %>
          </div>
      </div>
  </div>

  <section>
      <h3 class="title">More clips from <%= @video.user.gamertag %></h3>
      <div class="row">
          <%= render 'shared/video', :video => @user_clips.first,  :type => 'small', :width => 3 %>
          <%= render 'shared/video', :video => @user_clips.second, :type => 'small', :width => 3 %>
          <%= render 'shared/video', :video => @user_clips.third,  :type => 'small', :width => 3 %>
          <%= render 'shared/video', :video => @user_clips.fourth, :type => 'small', :width => 3 %>
      </div>
  </section>

  <section>
      <h3 class="title">More <%= @video.game.name %> Clips</h3>
      <div class="row">
          <%= render 'shared/video', :video => @game_clips.first,  :type => 'small', :width => 3 %>
          <%= render 'shared/video', :video => @game_clips.second, :type => 'small', :width => 3 %>
          <%= render 'shared/video', :video => @game_clips.third,  :type => 'small', :width => 3 %>
          <%= render 'shared/video', :video => @game_clips.fourth, :type => 'small', :width => 3 %>
      </div>
  </section>

<% elsif @video and not @video.is_uploaded? %>
  <p>Clip has not been uploaded yet!</p>
<% else %>
  <% content_for :title do %>
    Clip not found.
  <% end %>
  <p>
    Clip not found.
  </p>
<% end %>
