<% if @game %>
  <% content_for :title do %>
    <%= @game.name %>'s latest Xbox One game clips.
  <% end %>
  <% content_for :title_bar do %>

  <% end %>

  <style media="screen">
    body::after {
      content: "";
      opacity: 0.5;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      position: absolute;
      z-index: -1;
      background: url(<%= ImageHelper.resized(@game.image_hero_super, 1280) %>) no-repeat top center;
      background-size: 100%;
    }
  </style>

  <header class="hero">
    <h1><%= @game.name %></h1>
  </header>

  <% if @videos.count > 0 %>
    <ul class="videos-grid">
      <% @videos.each do |video| %>
        <li>
          <a href="<%= clip_path(video.clip_id) %>">
            <% if video.is_uploaded? %>
              <img class="lazy responsive" data-original="<%= ImageHelper.resized(video.cdn_thumbnail_url, 375) %>" src="<%= ImageHelper.transparent_gif %>" />
            <% else %>
              <p>
                Still uploading.
              </p>
            <% end %>
          </a>
        </li>
      <% end %>
    </ul>
  <% else %>
    <p>
      No clips for <%= @game.name %> yet.
    </p>
  <% end %>
<% else %>
  <p>
    Game not found.
  </p>
<% end %>
