<% if @game %>
  <% content_for :title do %>
    <%= @game.name %>'s latest Xbox One game clips.
  <% end %>

  <h1><%= @game.name %></h1>

  <% if @latest_videos.count > 0 or @top_videos.count > 0 %>

  <section>
      <h3 class="title">Latest Uploads</h3>
      <div class="row">
          <%= render 'shared/video', :video => @latest_videos.first,  :type => 'small', :width => 2 %>
          <%= render 'shared/video', :video => @latest_videos.second, :type => 'small', :width => 2 %>
          <%= render 'shared/video', :video => @latest_videos.third,  :type => 'small', :width => 2 %>
          <%= render 'shared/video', :video => @latest_videos.fourth, :type => 'small', :width => 2 %>
          <%= render 'shared/video', :video => @latest_videos.fifth,  :type => 'small', :width => 2 %>
          <%= render 'shared/video', :video => @latest_videos.fifth,  :type => 'small', :width => 2 %>
      </div>
  </section>

  <section>
      <h3 class="title">Top Uploads</h3>
      <div class="row">
          <%= render 'shared/video', :video => @top_videos.first,  :type => 'small', :width => 2 %>
          <%= render 'shared/video', :video => @top_videos.second, :type => 'small', :width => 2 %>
          <%= render 'shared/video', :video => @top_videos.third,  :type => 'small', :width => 2 %>
          <%= render 'shared/video', :video => @top_videos.fourth, :type => 'small', :width => 2 %>
          <%= render 'shared/video', :video => @top_videos.fifth,  :type => 'small', :width => 2 %>
          <%= render 'shared/video', :video => @top_videos.fifth,  :type => 'small', :width => 2 %>
      </div>
  </section>

  <% else %>
    <p>
      No clips for <%= @game.name %> yet.
    </p>
  <% end %>

<% else %>
  <p>
    Game not found.
  </p>
<% end %>
