<% if @game %>
  <% content_for :title do %>
    <%= @game.name %>'s latest Xbox One game clips.
  <% end %>

  <header class="hero">
    <h1><%= @game.name %></h1>
  </header>

  <% if @latest_videos.count > 0 or @top_videos.count > 0 %>
    <div class="">
      <p>
        Latest <%= @game.name %> videos
      </p>

      <ul class="video-list">
        <% @latest_videos.each do |video| %>
          <li>
            <a href="<%= clip_path(video.clip_id) %>"><img src="<%= video.cdn_thumbnail_url %>" class="img-rounded img-responsive" /></a>
          </li>
        <% end %>
      </ul>
    </div>

    <div class="">
      <p>
        Top <%= @game.name %> videos
      </p>

      <ul class="video-list">
        <% @top_videos.each do |video| %>
          <li>
            <a href="<%= clip_path(video.clip_id) %>"><img src="<%= video.cdn_thumbnail_url %>" class="img-rounded img-responsive" /></a>
          </li>
        <% end %>
      </ul>
    </div>
  <% else %>
    <p>
      No clips for <%= @game.name %> yet.
    </p>
  <% end %>
<% else %>
  <p>
    Game not found.
  </p>
<% end %>
