<h1>The easy way to share your Xbox One game clips and screenshots with the world.</h1>

<div class="">
  <p>
    Latest videos
  </p>

  <ul class="video-list">
    <% @latest_videos.each do |video| %>
      <li>
          <a href="<%= clip_path(video.clip_id) %>"><img src="<%= video.cdn_thumbnail_url %>" class="img-rounded img-responsive" /></a>
      </li>
    <% end %>
  </ul>
</div>

<% @top_games.each do |game| %>
  <div class="">
    <p>
      Top <%= link_to(game.name, game_path(game.xgid)) %> videos
    </p>

    <ul class="video-list">
      <% game.videos.uploaded.order(:view_count).limit(5).each do |video| %>
        <li>
          <a href="<%= clip_path(video.clip_id) %>"><img src="<%= video.cdn_thumbnail_url %>" class="img-rounded img-responsive" /></a>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>
