<section class="most-watched">
    <h3 class="title">Most Watched Clips</h3>
    <div class="row">
        <%= render 'shared/video', :video => @most_watched_videos.first,  :type => 'large',  :width => 6 %>
        <%= render 'shared/video', :video => @most_watched_videos.second, :type => 'large',  :width => 6 %>
    </div>
    <div class="row">
        <%= render 'shared/video', :video => @most_watched_videos.third,  :type => 'medium', :width => 4 %>
        <%= render 'shared/video', :video => @most_watched_videos.fourth, :type => 'medium', :width => 4 %>
        <%= render 'shared/video', :video => @most_watched_videos.fifth,  :type => 'medium', :width => 4 %>
    </div>
</section>

<section class="latest">
    <h3 class="title">Latest Uploads</h3>
    <div class="row">
        <%= render 'shared/video', :video => @latest_videos.first,  :type => 'small', :width => 2 %>
        <%= render 'shared/video', :video => @latest_videos.second, :type => 'small', :width => 2 %>
        <%= render 'shared/video', :video => @latest_videos.third,  :type => 'small', :width => 2 %>
        <%= render 'shared/video', :video => @latest_videos.fourth, :type => 'small', :width => 2 %>
        <%= render 'shared/video', :video => @latest_videos.fifth,  :type => 'small', :width => 2 %>
        <%= render 'shared/video', :video => @latest_videos.fifth,  :type => 'small', :width => 2 %>
    </div>
</section>

<section class="top-clips">
    <h3 class="title">Top <%= @top_game.name %> Clips</h3>
    <div class="row">
        <%= render 'shared/video', :video => @top_game_videos.first,  :type => 'small', :width => 3 %>
        <%= render 'shared/video', :video => @top_game_videos.second, :type => 'small', :width => 3 %>
        <%= render 'shared/video', :video => @top_game_videos.third,  :type => 'small', :width => 3 %>
        <%= render 'shared/video', :video => @top_game_videos.fourth, :type => 'small', :width => 3 %>
    </div>
</section>

<section class="popular-games">
    <h3 class="title">Popular Games</h3>
    <div class="row">
        <%= render 'shared/game', :game => @top_games.first,  :type => 'full', :width => 3 %>
        <div class="col-md-3">
            <div class="row vgutter-row">
                <%= render 'shared/game', :game => @top_games.third,  :type => 'quarter', :width => 6 %>
                <%= render 'shared/game', :game => @top_games.fourth,  :type => 'quarter', :width => 6 %>
            </div>
            <div class="row">
                <%= render 'shared/game', :game => @top_games.fifth,  :type => 'quarter', :width => 6 %>
                <%= render 'shared/game', :game => @top_games[5],  :type => 'quarter', :width => 6 %>
            </div>
        </div>
        <%= render 'shared/game', :game => @top_games.second,  :type => 'full', :width => 3 %>
        <div class="col-md-3">
            <div class="row vgutter-row">
                <%= render 'shared/game', :game => @top_games[6],  :type => 'quarter', :width => 6 %>
                <%= render 'shared/game', :game => @top_games[7],  :type => 'quarter', :width => 6 %>
            </div>
            <div class="row">
                <%= render 'shared/game', :game => @top_games[8],  :type => 'quarter', :width => 6 %>
                <%= render 'shared/game', :game => @top_games[9],  :type => 'quarter', :width => 6 %>
            </div>
        </div>
    </div>
</section>
