<% if @user %>
  <% content_for :title do %>
    <%= @user.gamertag %>'s latest Xbox One screenshots.
  <% end %>
  <% content_for :title_bar do %>
    <% if @user.is_pro? %>
      <span class="badge pro">pro</span>
    <% end %>
  <% end %>

  <header class="hero">
    <h1><%= @user.gamertag %></h1>
  </header>


  <% if @screenshots.count > 0 %>
    <ul class="screenshots-grid">
      <% @screenshots.each do |screenshot| %>
        <li>
          <a href="<%= user_screenshot_path(@user.gamertag, screenshot.xuid) %>">
              <img class="lazy responsive" data-original="<%= ImageHelper.resized(screenshot.cdn_url, 375) %>" src="<%= ImageHelper.transparent_gif %>" />
          </a>
        </li>
      <% end %>
    </ul>
  <% else %>
    <p>
      <%= @user.gamertag %> has not uploaded any screenshots yet.
    </p>
  <% end %>
<% else %>
  <p>
    User not found.
  </p>
<% end %>
