<% if @user %>
  <% content_for :title do %>
    <%= @user.gamertag %>'s latest Xbox One game clips.
  <% end %>
  <% content_for :title_bar do %>
    <a href="<%= user_screenshots_path(@user.gamertag) %>">Screenshots</a>
  <% end %>
  <section class="top-details">
    <h1><%= @user.gamertag %></h1>
  
    <ul class="nav nav-pills">
      <li role="presentation" class="active"><a href="<%= user_path(@user.gamertag) %>">Videos</a></li>
      <li role="presentation"><a href="<%= user_screenshots_path(@user.gamertag) %>">Screenshots</a></li>
    </ul>
  </section> 
  <section class="user-video-grid">
  <% if @videos.count > 0 %>

    <div class="row">
        <% @videos.each do |video| %>
          <%= render 'shared/video', :video => video,  :type => 'medium', :width => 4 %>
        <% end %>
    </div>

    <%= will_paginate @videos %>
  <% else %>
    <p>
      <%= @user.gamertag %> has not uploaded any videos yet.
    </p>
  <% end %>
  </section>
<% else %>
  <section>
    <p>
      User not found.
    </p>
  </section>
<% end %>
