<% if @user %>
  <% content_for :title do %>
    <%= @user.gamertag %>'s latest Xbox One screenshots.
  <% end %>
  <% content_for :title_bar do %>
  <% end %>
<section class="top-details">
  <h1><%= @user.gamertag %></h1>

  <ul class="nav nav-pills">
    <li role="presentation"><a href="<%= user_path(@user.gamertag) %>">Videos</a></li>
    <li role="presentation" class="active"><a href="<%= user_screenshots_path(@user.gamertag) %>">Screenshots</a></li>
  </ul>
</section>
<section>
  <% if @screenshots.count > 0 %>

    <div class="row">
      <% @screenshots.each do |screenshot| %>
        <%= render 'shared/screenshot', :screenshot => screenshot,  :type => 'medium', :width => 4 %>
      <% end %>
    </div>

    <%= will_paginate @screenshots %>
  <% else %>
    <p>
      <%= @user.gamertag %> has not uploaded any screenshots yet.
    </p>
  <% end %>
<% else %>
  <p>
    User not found.
  </p>
</section>
<% end %>
