<!DOCTYPE html>
<html>
<head>
  <%= render 'global/head' %>
  <%= yield(:additional_head) %>
</head>
<body class="<% unless @no_title %>fixed-header<% end %>">

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<% unless @no_title %>
  <div class="header">
    <span class="pull-left">
      <%= yield(:title_bar) %>
    </span>

    <span class="pull-right">
      <% if user_signed_in? %>
        You are logged in as <%= current_user.email %>:
        <%= link_to "Your Dashboard", dashboard_path %>,
        <% if current_user.gamertag %>
          <%= link_to "View Your Public Profile", user_path(current_user.gamertag) %>,
        <% end %>
        <%= link_to "Edit Your Settings", profile_path %>, or
        <%= link_to "Log out", destroy_user_session_path, :method => :delete, :data => { :confirm => 'Are you sure you want to log out?' } %>
      <% else %>
        <%= link_to "Need your own account?", new_user_registration_path %> Or
        <%= link_to "Log in", new_user_session_path %>.
      <% end %>
    </span>
  </div>
<% end %>

<div class="content">
  <%= yield %>
</div>

<%= render 'global/ga' %>

<%= yield(:additional_footer) %>

</body>
</html>
