<!DOCTYPE html>
<html>
<head>
  <title>
    <%= content_for?(:title) ? yield(:title) : "Xbox One Game Clips" %>
  </title>

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta name="google-site-verification" content="Q-Qc2tAYKgTbDKG4K7BK941RVcjxct0u7GinSzHSSHI" />

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <link href='//fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>

  <%= yield(:additional_head) %>
</head>
<body class="fixed-header">

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<div class="header">
  <%= yield(:title_bar) %>
  <% if user_signed_in? %>
    You are logged in as <%= current_user.email %>.
    <%= link_to "Log out", destroy_user_session_path, :method => :delete, :data => { :confirm => 'Are you sure you want to log out?' } %>.
    <%= link_to "Dashboard", dashboard_path %>
    <% if current_user.gamertag %>
      <%= link_to "Your public profile", user_path(current_user.gamertag) %>.
    <% end %>
  <% else %>
    Want a page like this? <%= link_to "Sign up", new_user_registration_path %>.
  <% end %>
</div>

<div class="content">
  <%= yield %>
</div>

<%= render 'global/ga' %>

<%= yield(:additional_footer) %>

</body>
</html>
