<!DOCTYPE html>
<html>
<head>
  <title>Xbox One Game Clips</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href='//fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>

  <%= yield(:additional_head) %>
</head>
<body>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<div class="content central">
  <div class="inner">
    <%= yield %>
  </div>
</div>

<%= render 'global/ga' %>

<%= yield(:additional_footer) %>

</body>
</html>
