<!DOCTYPE html>
<html>
<head>
  <%= render 'global/head' %>
  <%= yield(:additional_head) %>
</head>
<body class="player">

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<%= yield %>

<%= render 'global/ga' %>

<%= yield(:additional_footer) %>

</body>
</html>
